.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.title {
  margin: 2rem;
  padding: 1rem 5rem;
  border-radius: 1rem;
  background-color: #402e32;
  color: #d2925a;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-family: 'Petit', serif;
}

.story {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff8f0;
  padding: 1rem;
  border-radius: 1rem;
  width: 60%;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family: 'Faustina', serif;
}

.storyFirstParragraph {
  padding-bottom: 1rem;
}

.follow {
  margin: 2rem;
  padding: 1rem 5rem;
  border-radius: 1rem;
  background-color: #402e32;
  color: #d2925a;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-family: 'Faustina', serif;
}

.follow:hover {
  background-color: #d2925a;
  color: #402e32;
  cursor: pointer;
}

.instaContainer {
  height: auto;
  width: inherit;
  background-color: #d2925a;
}
