.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.post {
  display: flex;
  justify-content: center;
  zoom: 0.6;
  padding-top: 1rem;
  width: min(100%, 550px);
}

.post > div {
  width: 100%;
  max-width: 100%;
}
