.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.title {
  margin: 2rem;
  padding: 1rem 5rem;
  border-radius: 1rem;
  background-color: #402e32;
  color: #d2925a;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  font-family: 'Petit', serif;
}
