.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.title {
  margin: 2rem;
  border-radius: 1rem;
  background-color: #402e32;
  padding: 1rem 5rem;
  color: #d2925a;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Petit', serif;
  letter-spacing: 0.25rem;
}

.text {
  border: 3px solid #402e32;
  border-radius: 1rem;
  background-color: #fff8f0;
  padding: 1rem;
  width: 50%;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Faustina', serif;
  text-align: justify;
}

img {
  margin: 1rem 0;
  border: 3px solid #402e32;
  border-radius: 1rem;
  width: 50%;
}
